{
  "name": "{{ agave.username }}-{{ app.name }}",
  "version": "{{ app.version }}",
  "executionType": "HPC",
  "executionSystem": "hpc-tacc-maverick-{{ agave.username }}",
  "parallelism": "SERIAL",
  "deploymentPath": "sd2e/apps/{{ app.name }}-{{ app.version }}",
  "deploymentSystem": "data-tacc-work-{{ agave.username }}",
  "defaultProcessorsPerNode": 1,
  "defaultNodeCount": 1,
  "defaultQueue": "normal",
  "label": "FastQC",
  "modules": [ "load tacc-singularity/2.3.1" ],
  "shortDescription": "A Quality Control application for FastQ files",
  "templatePath": "runner-template.sh",
  "testPath": "tester.sh",
  "inputs":[
    {
      "id": "fastq",
      "value": {
        "default": "agave://data-sd2e-community/sample/sailfish/test/read1.fastq",
        "visible": true,
        "required": true
      },
      "semantics": {
        "ontology": [
          "http://edamontology.org/format_1930"
        ]
      },
      "details": {
        "label": "FASTQ sequence file"
      }
    }
  ],
  "parameters":[],
  "outputs": []
}
