{
  "name": "{{ agave.username }}-{{ app.name }}-test-{{ date_time.iso8601_basic_short }}",
  "appId": "{{ agave.username }}-{{ app.name }}-{{ app.version}}",
  "archive": false,
  "inputs": {
    "fastq":  "agave://data-sd2e-community/sample/sailfish/test/read1.fastq"
  }
}
